<h1> Here are some decks to choose from! </h1>

<h2>Choose a deck to practice</h2>
<% if @all_decks.empty? %>
<%= link_to "You don't seem to have any decks yet. Let's make a new deck!", new_deck_path %>
<% else %> 
  <% @all_decks.each do |deck| %>
    <div class="cards">
    <div class="card-deck">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-deck-infos">
        <h2> <%= link_to "#{deck.topic}", deck_path(deck) %> </h2>
      </div>
    </div>
  </div>
  <% end %>
  <%= link_to "Make a new deck", new_deck_path, class: "btn btn-primary" %>
<% end %>  