<% if @deck.flashcards.empty? %>
  <p><%= link_to "This deck has no cards. Let's add some!", edit_deck_path %></p>
<% else %>
  <% @deck.flashcards.each do |card| %>
    <div data-controller="toggle-answer">
      <p class="question" style="cursor: pointer;" data-action="click->toggle-answer#toggle"><%= card.question %></p>
      <p class="answer hidden" data-toggle-answer-target="answer"><%= card.answer %></p>
    </div>
  <% end %>
<% end %>

<%= link_to "Go back to your decks", decks_path, class: "btn btn-primary" %>

<div data-controller="timer">
  <div data-timer-target="display">Time left: 20 seconds</div>
  <div style="width: 100%; background: #ccc;">
    <div data-timer-target="progressBar" style="width: 100%; height: 20px; background: green;"></div>
  </div>
  <button class="btn btn-primary" data-action="click->timer#start">Start Timer</button>
</div>

